<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--title>AEX Requests</title-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
  .bg-login {
      background-color: aqua;
  }
  .bg-norm {
      background-color: white;
  }
  .bg-exc {
      background-color: silver;
  }
  .bg-long {
      background-color: #ffdde5;
  }
</style>
<body>
    <table border=1>
      <tr>
        <th>LINES</th>
        <th>DATE</th>
        <th>METHOD</th>
        <th>URL</th>
        <th>MS</th>
        <th>USER</th>
      </tr>
      <tr th:each="req : ${aexRequests}"
          class="bg-norm"
          th:if="${req.startLine == 0 || req.tooLong}"
          th:class="${req.startLine == 0}? 'bg-exc': 'bg-long'">
        <td>
          <span th:if="${req.startLine != 0}">
            <a th:href="${req.startLineLink}" th:text="${req.startLine}">1</a>-<a th:href="${req.endLineLink}" th:text="${req.endLine}">10</a>
          </span>
        </td>
        <td th:text="${#dates.format(req.tstamp, 'yyyy-MM-dd HH:mm:ss,SSS')}">2020-10-27 11:27:40,234</td>
        <td th:text="${req.method}">POST</td>
        <td th:text="${req.url}">https://northwell.dev.appery.io/apiexpress-api/security/login</td>
        <td>
          <span th:if="${req.startLine != 0}" th:text="${req.millis}">100</span>
        </td>
        <td th:text="${req.user}">jdoe</td>
      </tr>
    </table>
</body>
</html>