<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--title>AEX Requests</title-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
  .bg-login {
      background-color: aqua;
  }
  .bg-norm {
      background-color: white;
  }
</style>
<body>
    <table border=1>
      <tr>
        <th>LINES</th>
        <th>DATE</th>
        <!--th>ID</th-->
        <th>METHOD</th>
        <th>URL</th>
        <th>USER</th>
        <th th:if="${countGroups}">COUNT</th>
        <!--th>PARAMETERS</th-->
        <!--th>BODY</th-->
        <!--th>RESPONSE</th-->
      </tr>
      <tr th:each="req : ${aexRequests}" 
          class="bg-norm"
          th:class="${req.loginUrl}? 'bg-login':'bg-norm'">
        <td><a th:href="${req.startLineLink}" th:text="${req.startLine}">1</a>-<a th:href="${req.endLineLink}" th:text="${req.endLine}">10</a></td>
        <td th:text="${#dates.format(req.tstamp, 'yyyy-MM-dd HH:mm:ss,SSS')}">2020-10-27 11:27:40,234</td>
        <!--td th:text="${req.id}">c5f91a2b-a302-483d-8c35-7e4cca67b47e</td-->
        <td th:text="${req.method}">POST</td>
        <td th:text="${req.url}">https://northwell.dev.appery.io/apiexpress-api/security/login</td>
        <td th:text="${req.user}">jdoe</td>
        <td th:if="${req.groupCount}" th:attr="rowspan=${req.groupCount}" th:text="${req.groupCount}">10</td>
        <!--/*--> 
        <!--td>
          <dl th:each="param : ${req.params}">
            <dt th:text="${param.name}"></dt>
            <dd th:text="${param.value}"></dd>
          </dl>
        </td-->
        <!--td th:text="${req.body}">{}</td-->
        <!--td th:text="${req.response}">{}</td-->
        <!--*/--> 
      </tr>
    </table>
</body>
</html>